.event_stats {
  .badge {
    line-height: 14px;
    color: #fff;
    font-size: 12px;
    margin-left: 15px;
    border-radius: 500px;
    padding: 3px 10px;
  }
}

.event_stat__content {
  flex-grow: 3;
  padding-bottom: 36px;
}

.event_stat:not(:last-child) {
  padding-bottom: 20px;
}
.event_stat:not(:last-child) .event_stat__content {
  border-bottom: 1px solid $light-grey;
}

.event_stat__icon {
  margin-right: 20px;
  position: relative;
}

.event_stat__title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.event_stat__numbers {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.event_stat__numbers__sub {
  font-size: 12px;
  margin-left: 10px;
}

.event_stat__info {
  //margin-left: 50px;
}