.periods {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  overflow: hidden;
}

.periods__btn {
  display: inline-block;
  width: 96px;
  height: 32px;
  padding: 7px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: black;
  &.active {
    background-color: $primary;
    color: #fff;
  }
  &:hover {
    text-decoration: none;

  }
  &:not(.active):hover {
    background-color: #57b4f3;
    border-color: #57b4f3 !important;
    color: #fff;
  }
  &:not(:last-child):not(.active) {
    border-right: 1px solid #D9D9D9;
  }
}

